# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# no wav files
*.wav
*.WAV
./gt_order/*
./groundTruth/unLabeld/*
./estimateSongs/*
/build/*
/dist/*
/nbproject/private
#no python cacge

visualisationScripts/__pycache__/*
visualisationScripts/__pycache__/
*.pyc
